<div class="container-fluid-short-custom">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h3 class="text-center">
                        Change Password
                    </h3>
                    <div class="div-bottom-border">
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <form action="/SignInSignUp/ChangePassword" method="post" role="form" name="LoginForm">
                        @{
                            if (ViewData["Message"] != null)
                            {
                                <div class="form-group" style="color:blue; text-align:center;">
                                    <label class="Message label-margin" style=" text-align:center;">
                                        @{
                                            if (ViewData["Redirect"] != null)
                                            {
                                                <br />
                                                <a href="@ViewData["Redirect"]" class="label-margin">
                                                    Click here to view your Dashboard.
                                                </a>
                                                ViewData["Message"] = null;
                                            }
                                            ViewData["Redirect"] = null;
                                        }
                                    </label>
                                </div>
                            }
                        }

                        <div class="form-group div-top-border">
                            <label class="label-margin" for="LoginEmail">
                                OLD Password
                            </label>
                            <input required="" type="password" class="form-control" id="OldPassword" name="OldPassword" />
                        </div>
                        <div class="form-group ">
                            <label class="label-margin" for="LoginEmail">
                                New Password
                            </label>
                            <input required="" type="password" class="form-control" id="NewPassword" name="NewPassword" />
                        </div>
                        <div class="form-group ">
                            <label class="label-margin" for="LoginEmail">
                                Confirm Password
                            </label>
                            <input required="" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" />
                        </div>
                        <button type="submit" class="btn btn-success">
                            Change Password
                        </button>
                    </form>

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
