<link href="~/css/navMenu.css" rel="stylesheet" id="navMenu-css">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background-image: url('https://banner2.cleanpng.com/20180715/ffk/kisspng-web-development-web-page-responsive-web-design-website-under-construction-5b4c0f86643e55.8330298515317113664107.jpg'); background-size: 900px; height: 350px;" ">
        </div>
    </div>
</div>
