<!-- gallery -->
<div class="gallery" id="gallery">
    <div class="container-fluid">
        <h3>Gallery</h3>

        <div class="about-bottom  w3ls-team-info">
            <div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g1.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g1.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g2.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g2.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g3.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g3.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g4.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g4.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g5.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g5.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g6.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g6.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g7.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g7.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g1.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g1.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g2.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g2.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g3.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g3.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g4.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g4.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 img-gallery-w3l">
                                    <a href="~/images/g5.jpg" class="thumbnail cm-overlay">
                                        <img src="~/images/g5.jpg" class="img-responsive" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div>
                <!--.Carousel-->

            </div>
        </div>
    </div>

</div>
<!-- //gallery -->