<!-- Services-->
<div class="services" id="services">
    <div class="container">
        <h3>Services</h3>
        <div class="col-md-4 hhh">
            <div class="wthree_rt">
                <i class="fa fa-ship" aria-hidden="true"></i>
                <h4>Competitive Pricing</h4>
                <p>We are giving best prices in market within range of customers.</p>
            </div>
        </div>
        <div class="col-md-4 hhh">
            <div class="wthree_rt">
                <i class="fa fa-space-shuttle" aria-hidden="true"></i>
                <h4>Customizable Service</h4>
                <p>We provide services at your own ease</p>
            </div>
        </div>
        <div class="col-md-4 hhh">
            <div class="wthree_rt">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                <h4> Pickup & DropOff</h4>
                <p>We are providing pickup & DropOff services at your own choose.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="w3l_serdwn">
            <div class="col-md-4 hhh">
                <div class="agile_ser">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <h4>Personal Rent A Car</h4>
                    <p>You enjoy the car like your own. </p>
                </div>
            </div>
            <div class="col-md-8 W3ls_serv">
                    <div class="agile_ser">
                        <i class="fa fa-cab" aria-hidden="true"></i>
                        <h4>Our Expertise</h4>
                        <p>Bringing 25 years of rent a car experience at your door step by single click of finger.</p>
                    </div>
                    <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /Services-->