<!-- Testimonials-->
<div class="testimonials" id="testimonials">
    <div class="container">
        <div class="tittle-agileinfo">
            <h3>Testimonials</h3>
        </div>
        <div class="sreen-gallery-cursual">

            <div id="owl-demo" class="owl-carousel">
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/images/t1.jpg" class="img-responsive" alt="" />
                        <h5>Adeel Yasin</h5>
                        <span>Client</span>
                        <p>Best Services of rent a car. Thumps Up</p>

                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/images/t2.jpg" class="img-responsive" alt="" />
                        <h5>Zohaib Ehsan</h5>
                        <span>Client</span>
                        <p>Really impressed by their services of pickup and delivery. </p>

                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/images/t3.jpg" class="img-responsive" alt="" />
                        <h5>Zeeshan Awan</h5>
                        <span>Client</span>
                        <p>In Short, Now no need to worry about my Rent A Car.</p>

                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/images/t4.jpg" class="img-responsive" alt="" />
                        <h5>Ammad Ahmed</h5>
                        <span>Client</span>
                        <p>take one try you will come again</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Testimonials-->